@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,900&display=swap');
/* Universal */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}

/* Header */

.header {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid rgb(224, 224, 224);
    z-index: 99;
}
.logo-text {
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo-link {
    text-decoration: none;
    color: black;
}
/* Navigation */
.nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    padding-left: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-item:hover {
    color: grey;
    text-decoration: none;
}
#nav-active {
    font-weight: 500;
}
#nav-active:hover {
    color: black;
}

/* Hero */

.hero-container {
    background-color: rgba(0, 0, 0, 0.899);
}
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-image: linear-gradient(to right, rgba(25, 25, 25, 0.7), rgba(25, 25, 25, 0.7)), url("./images/herobg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.hero-item {
    padding: 20px 50px;
    margin: 50px 50px;
}
.hero-text {
    padding-bottom: 15px;
    color: #F9FAF8;
    font-size: 48px;
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hero-sec-text {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 15px;
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hero-bg {
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.hero-button {
    padding: 10px 30px;
    transition: all .2s ease-in-out;
    margin: 5px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hero-button:hover {
    transform: scale(1.1);
}

/* Main */



/* Cards */

.cards {
    display: flex;
    align-items: ;
    justify-content: space-around;
    padding: 100px 50px;
    gap: 30px;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    height: 330px;
    gap: 5px;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    transition: all .2s ease-in-out;
    max-width: 290px;
}
.card:hover {
    transform: scale(1.1);
}
.card-image {
    max-width: 250px;
}
.card-text {
    text-align: center;
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-text:nth-of-type(1) {
    padding-top: 5px;
}
.card-header {
    text-align: center;
    padding-top: 100px;
    font-size: 36px;
    font-weight: 900;
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1F2937;
}
.card-link {
    text-decoration: none;
    color: black;
}

/* Quote */

.quote-container {
    background-image: url("./images/quotebg.png");
    background-attachment: fixed;
    background-position: center;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px 90px;
    border: 1px solid rgb(213, 213, 213);
}

.quote-author {
    font-size: 25px;
    padding-top: 5px;
    text-align: right;
    padding-right: 70px;
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Call to action */
.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;

}
.cta {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #0275d8 ;
    width: 1200px;
    height: 140px;
    border-radius: 11px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}
.cta-sen {
   
}
.cta-header,
.cta-sen,
.cta-button {
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cta-button {
    padding: 15px 15px;
    transition: all .2s ease-in-out;
    border-radius: 40px;
    background-color: #f14e4e;
    color: white;
    border: red;
    font-size: 14px;
}


.cta-button:hover {
    transform: scale(1.1);
}

/* Footer */

.footer {
    padding: 50px;
    border-top: 1px solid rgb(223, 223, 223);
}
.copyright-text {
    text-align: center;
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Responsive */

/* For Mobile */
@media screen and (max-width: 540px) {
    .card-header {
        font-size: 30px;
    }
    .cards {
        padding-top: 50px;
    }
    .quote-container {
        padding: 80px 20px;
        font-size: 25px;
    }
    .quote-author {
        font-size: 20px;
    }
    .hero {
        padding: 0px;
        height: 70vh;
    }
    .hero-item {
        padding: 0px;
    }
    .hero-text {
        font-size: 30px;
    }
    .hero-sec-text {
        font-size: 17px;
        padding-right: 0px;
    }
    .cta-sen {
        font-size: 14px;
    }
      .cta-header {
        font-size: 15px;
    }
    .cta {
        height: 190px;
        flex-wrap: wrap;
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .hero {
        flex-wrap: wrap;
        padding: 0px;
    }
    .hero-text {
        font-size: 35px;
    }
    .hero-sec-text {
        padding-right: 0px;
        font-size: 20px;
    }
    .quote-container {
        font-size: 25px;
        padding: 100px 60px;
    }
    .quote-author {
        font-size: 25px;
    }
    .cta {
        flex-wrap: wrap;
        height: 180px;
    }
}